@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.tourney {
  font-family: "Tourney", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nova-square-bold {
  font-family: "Nova Square", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .active {
    /* transform: translateX(0); */
    transition: transform 0.1s ease-in;
    z-index: 4;
  }

  .initial {
    transform: translateX(-320px);
    transition: transform 0.2s ease;
    z-index: 4;
  }
}